* {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0px 125px 0px 54px;
  position: fixed;
  background-color: rgba(15, 4, 2, 0.3);
  backdrop-filter: blur(4px);
  z-index: 10;
}

#btn-home {
  height: 75px;
}

#btn-home img {
  height: 75px;
  transition: 2s;
}

#btn-home:hover {

  img {
      transform: rotateY(360deg);
  }
}

.header-nav {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.header-nav a {
  font: 18px "Montserrat";
  color: #f49d25;
  background-color: transparent;
  transition: 0.6s;
}

.header-nav a:hover {
  transform: translateY(-2px);
  color: #ffffff;
}

/* HERO-HEADER DO CARDÁPIO */

.hero-cardapio {
  background-image: url("/src/assets/images/background-img-banner-cardapio.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.banner-cardapio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 233px 0px 0px 0px;
  gap: 0px;
}
.banner-cardapio h1 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 0.9 !important;
  font-family: "Inria Serif";
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.yellow {
  color: #f49d25;
  text-shadow: 0 4px 4px #000;
  padding: 0px 148px;
}
.white {
  color: #ffffff;
  text-shadow: 0 4px 4px #000;
  padding: 0px 274px;
}

.btn-scroll {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

/* SEÇÃO INICIAL DO CARDAPIO */

#secao-fritos {
  background-color: #23100a;
  color: #f49d25;

  display: flex;
  flex-direction: column;
}
.botoes-cardapio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.btn-cardapio {
  background-color: #391910;
  border: 2px solid #391910;
  width: 124px;
  height: 110px;
  border-radius: 24px;
  transition: 0.6s;
}
.btn-cardapio:hover {
  background-color: transparent;
  border: 2px solid #f49d25;
  color: #f49d25;
}

.titulo-e-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.titulo-e-btn h2 {
  margin-top: 37px;
  text-align: center;
  font-family: "Inria Serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.texto-divisor {
  padding: 80px 350px 0px 120px;
}

.garcom-img {
  margin-right: 80px;
}

.botoes-cardapio h1 {
  font-family: "Inria Serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* FIM DA SEÇÃO INICIAL DO CARDÁPIO */

.texto-divisor {
  font-family: "Inria Serif";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

hr {
  width: 1132.005px;
  height: 1px;
  background-color: #f49d25;
}

/*INICIO SEÇÃO DO MAR*/

#secao-do-mar {
  background-color: #23100a;
  color: #f49d25;
}
#secao-do-mar .titulo-secao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 60px;
  padding-left: px;
  gap: 100px;
}

#secao-do-mar .garcom-img {
  margin-right: 0;
}

#secao-do-mar .texto-divisor {
  padding: 0;
  margin-left: auto;
  text-align: right;
}

/*FIM DA SEÇÃO DO MAR*/

/*INICIO DA SEÇÃO PASTAS*/

#secao-pastas {
  background-color: #23100a;
  color: #f49d25;
}

#secao-pastas .titulo-secao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  gap: 100px;
}

#secao-pastas .garcom-img {
  margin-right: 0;
}

#secao-pastas .texto-divisor {
  padding: 0;
  margin-left: auto;
  text-align: right;
}

/* INICIO DA SEÇÃO BEBIDAS */
#secao-bebidas {
  background-color: #23100a;
  color: #f49d25;
}
#secao-bebidas .titulo-secao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 60px;
  padding-left: 40px;
  gap: 100px;
}

#secao-bebidas .garcom-img {
  margin-right: 0;
}

#secao-bebidas .texto-divisor {
  padding: 0;
  margin-left: auto;
  text-align: right;
}

.titulos-subsecoes-bebidas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px 40px 0px;

  color: #f49d25;
  font-family: "Great Vibes";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.cards-container-2 + .titulos-subsecoes-bebidas,
.cards-container-1 + .titulos-subsecoes-bebidas {
  margin-top: 40px;
}

/* BEBIDAS */

.titulo-secao

.garcom-bebidas-img {
  margin-left: 0px;
}

/* ESTILO DOS CARDS */

.card-item {
  width: 350px;
  height: 550px;
  background: #391910;
  border-radius: 24px;
  

  overflow: hidden; /* Corta a imagem nas pontas arredondadas */


  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;
}

.card-item:hover {
  transform: scale(1.04);
}

.card-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* Espaçamento interno dos textos */
.card-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top-color: transparent;
  border-left: 4px solid rgba(244, 157, 37, 0.28);
  border-right: 4px solid rgba(244, 157, 37, 0.28);
  border-bottom: 4px solid rgba(244, 157, 37, 0.28);

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);

  height: 100%;
}

.card-textos-topo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
}

.card-titulo {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-descricao {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.card-preco {
  width: 137px;
  color: #f49d25;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-foto {
  

  
  box-shadow: 
    -4px -4px 4px 0px rgba(0, 0, 0, 0.4),              
    4px -4px 4px 0px rgba(0, 0, 0, 0.4),               
    inset -4px -4px 4px 0px rgba(244, 157, 37, 0.2),  
    inset 4px -4px 4px 0px rgba(244, 157, 37, 0.2);

}

/* ESTILO DOS CARDS DIFERENTES E DO CONTAINERS DE CARDS */

.cards-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;

  padding: 20px 120px 0px 120px;
}

#secao-fritos .cards-container-1 {
  padding: 74px 120px 0px 120px;
}
.cards-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 74px 120px 0px 120px;
}

#secao-bebidas .cards-container-2{
  margin-bottom: 40px;
}

.card-lista {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-lista .card-preco {
  color: #f49d25;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

.card-lista span {
  color: #ffffff;
  font-size: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
